.btnCreate{
    display: flex;
    justify-content: space-between;

}

form h4{
    text-align: center;
    margin-top:  5px;
}

.close{
    position: absolute;
    top: 0%;
    right: 1%;
    background-color: red;
    cursor: pointer;
}

