<div class="display">
    <ul *ngFor="let item of quotes; let i = index" class="quote" class='one {{(item[i].upCounter> ? "highlight" : " ")}}' >
        <li>{{item.quote}}</li>
 
        <button (click) ="toggleDetails(i)">Qoute Details</button>

        <!-- child component  -->
        <app-quotedetails 
            *ngIf="item.showDetails"  [parentData] = "item"

         
       >

        </app-quotedetails>
    <button (click) ="deleteQuote(i)">Delete</button>
    <button (click) =" upVote(i)">up</button>
    {{item.upCounter}}

    <div  ></div>

    </ul>
</div>
<app-forms (customQuote)="customQuote($event)" ></app-forms>

