/* .display{
    background-color: aqua;
}
.quote{
    background-color: yellow;
    width: 30%;
    height: 89%;
} */

.highlight{
    background-color: red;
    color:burlywood
}

.quotes{
    /* background-color: aqua; */
    /* height: 10%;
    width: 20%; */
    display: flex;
    flex-wrap: wrap;

}
li{
    list-style-type: none;
}
.main{
    height: 100%;
    /* background-color: blueviolet; */
}

.row{
    height: 100%;

}

.innerContainer{
    height: 40%;
    /* background-color: red; */
    width: 40%;
    margin: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    /* width: 600px; */
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    /* margin: 10px; */
    
}

.heading{
    text-align: center;
    color: white;
}

.fa-quote-left, .fa-quote-right {
    font-size: 35px;
    color: #006D77;
}

.display-quote{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}