/* .display{
    background-color: aqua;
}
.quote{
    background-color: yellow;
    width: 30%;
    height: 89%;
} */

.highlight{
    background-color: red;
    color:burlywood
}

.quotes{
    background-color: aqua;
    /* height: 10%;
    width: 20%; */
    display: flex;
    flex-wrap: wrap;

}

.main{
    height: 100%;
    background-color: blueviolet;
}

.row{
    height: 100%;

}

.innerContainer{
    height: 40%;
    background-color: red;
    width: 30%;
    margin: 5px;
}

.heading{
    text-align: center;
    color: white;
}