/* .display{
    background-color: aqua;
}
.quote{
    background-color: yellow;
    width: 30%;
    height: 89%;
} */

.highlight{
    background-color: red;
    color:burlywood
}

.quotes{
    
    display: flex;
    flex-wrap: wrap;

}
li{
    list-style-type: none;
    color: black;
    /* margin-top: 20px; */
    font-size: 12px;
}



.innerContainer{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    animation:shadows 2s linear infinite alternate;
    
}

@keyframes shadows {
    0% {
      box-shadow:0 2px 4px -2px rgba(0,0,0,.25);
      transform:scale(.95);
    }
    100% {
      box-shadow:0 0 4px 2px rgba(0,0,0,.25);
      transform:scale(1);
    }
  }


.heading{
    text-align: center;
    color: white;
}

.fa-quote-left, .fa-quote-right {
    font-size: 35px;
    color: #006D77;
}

.display-quote{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.votes{
    display: flex;
    justify-content: space-between;
}

.two button {
    background-color:  #edf6f9;
    margin-top: 20px;
    border:none
}

.form{
    width: 50%;
    border: 2px solid silver;
    background-color:rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    position: relative;
    left: 30%;
}

