
    <h1 class="heading" >Quotes</h1>
<div class="container-fluid main">


    <div class=" col-md-12 quotes" >
        <!-- <div class="innerContainer"> -->

                <ul *ngFor="let item of quotes; let i = index"  class="col-4  innerContainer ">
                        <li class="display-quote"><i class="fas fa-quote-left"></i>   {{item.quote}} <br> <i class="fas fa-quote-right"></i></li>
                        <app-quotedetails 
                         [parentData] = "item">

            
                     
                   
                    <button (click) ="deleteQuote(i)">Delete</button>
                <!-- <button (click) =" upVote(i)">up</button> -->
                <!-- {{item.upCounter}} -->
                
                    </app-quotedetails>

                   
             
            
                    
                
            
                    <div class="votes">
                        <div class="one">
                            <p>{{item.upCounter}}<i class="bi bi-hand-thumbs-up" (click)="upVote(i)"></i></p>
                        {{item.downCounter}}<i class="bi bi-hand-thumbs-down" (click)="downVote(i)"></i>
                        </div>
                        <div class="two">
                            <button (click)="deleteQuote(i)"><i class="bi bi-trash"></i></button>
                        </div>
                       </div>
                      

                       
                </ul>
            <!-- </div> -->

   
       </div>
       <button (click)= "toggleShow()">create quote</button>

       <div class="col-6 col-md-6" class="form" *ngIf="toDisplay">
        <app-forms (customQuote)="customQuote($event)" ></app-forms>
    
    </div>
   
</div>

  
   
  

