/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContainer{
    height: 100vh;
    background-color: black;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, #83c5be, #edf6f9);
}
