/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* height: 1500vh; */
    background-image: linear-gradient(to right bottom, rgb(131, 197, 190), #edf6f9);

}
